<div class="rental-page">
    <div class="filters">
        {{ filter_form }}
    </div>
    <div class="rental-list-wrapper">
        {{ list }}
    </div>
    <div class="pager">
        {{ pager }}
    </div>
</div>
